.App {
  padding: 30px;
  font-size: 16px;
  text-align: center;
}
input {
  font-size: 16px;
  height: 30px;
  width: 250px;
  padding: 0 8px;
}
.center {
  width: 20%;
  text-align: center;
}
.error {
  color: red;
}
.header {
  width: 998px;
  max-width: 100%;
  margin: auto;
  padding: 16px 60px;
}
.list {
  display: flex;
  width: 998px;
  max-width: 100%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.list-item {
  padding: 16px;
  display: flex;
  margin: 1%;
  background: #efefef;
  border-radius: 6px;
  width: 28%;
  cursor: pointer;
}
.list-item .title {
  margin: 0 0 8px;
  font-weight: 600;
}
.list-item img {
  margin-right: 16px;
  height: fit-content;
}
.list-item .data {
  text-align: left;
  flex: 1;
  overflow-y: auto;
  max-height: 400px;
}
.list-item-full {
  width: 70%;
  cursor: default;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  display: block;
  padding: 2em;
  min-width: 50em;
  max-width: 80%;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  outline: transparent;
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.4);
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow {
  padding: 5px 10px 10px;
  background: #ddd;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}
.arrow-empty {
  width: 34px;
}
